---
// à utiliser sur un markdown

import type { MarkdownLayoutProps } from "astro";
import FrontPage from "../FrontPage.astro";
import type { ClubName, EventT, NavItem } from "@/helpers";
import Section from "@/components/markdown/Section.astro";
import ColorLigne from "@/components/global/ColorLigne.astro";

type Props = { logo?: ClubName } & MarkdownLayoutProps<{
  title: string;
  subtitle?: string;
  cover?: string;
  nav?: NavItem[];
  description?: string;
  showDescription?: boolean;
  eventTitle?: string;
  eventDescription?: string;
}>;

const {
  frontmatter: {
    title,
    subtitle,
    cover,
    nav,
    description,
    showDescription,
    eventDescription,
    eventTitle,
  },
  logo,
} = Astro.props;

const event: EventT[] = [
  {
    title,
    subtitle,
    alt: title,
    cover,
    description: description ?? "",
    link: "",
  },
];
---

<FrontPage
  title={title}
  events={event}
  logo={logo}
  nav={nav}
  noEvents={true}
  eventDescription={eventDescription}
  eventTitle={eventTitle}
>
  {
    showDescription && (
      <Section>
        <h1 class="title">{title}</h1>
        <ColorLigne />
        <p>{description}</p>
      </Section>
    )
  }
  <div class="md">
    <slot />
  </div>
</FrontPage>

<style>
  .md {
    width: 100%;
  }

  .md :global(h1) {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .md :global(a) {
    color: rgb(var(--main-color));
    font-weight: bold;
  }

  .md :global(a:hover) {
    color: rgb(var(--secondary-color));
  }
</style>
