---
import { clubLogos } from "@/assets/logos";
import ColorLigne from "@/components/global/ColorLigne.astro";
import Club from "@/components/index/Club.astro";
import { type MDnXInstance, type EventT, rawMDtoSortedArray } from "@/helpers";
import FrontPage from "@/layouts/FrontPage.astro";

const carrousel = await Astro.glob<MDnXInstance<EventT>>("./**/*{.md,.mdx}");

// importing the carrousel images for PSU
const psuCar = await Astro.glob<MDnXInstance<EventT>>("./*{.md,.mdx}");

const events = rawMDtoSortedArray([...psuCar, ...carrousel]);
---

<FrontPage title="Nos événements" events={events} noEvents={true}>
  <section class="clubs" id="clubs">
    <div class="content">
      <h1 class="title">Les Clubs</h1>
      <ColorLigne />

      <p>
        <strong
          >L'association Play Sorbonne Université (PSU) a pour projet d'étendre
          ses actions pour partager la passion du jeu au plus grand nombre au
          sein de l'université. Pour mieux nous organiser dans cette entreprise,
          nous avons choisi de diviser nos principaux objectifs en plusieurs
          équipes : Lux Ludi, le DLC, Loading Games et Play & Learn Society.</strong
        >
      </p>

      <div class="icons__clubs">
        <Club img={clubLogos.pls.src} link="/pls">
          <p>
            Vulgariser, dévoiler, transmettre. Nous avons pour but de donner de
            la légitimité au domaine du jeu vidéo, en traitant avec rigueur les
            thèmes associés, dont la recherche axée sur ce domaine.
          </p>
        </Club>
        <Club img={clubLogos.dlc.src} link="/dlc">
          <p>
            Le club le DLC a pour objectif d'animer la vie du campus, de
            fidéliser les étudiants et de créer des liens avec d'autres
            associations.
          </p>
        </Club>
        <Club img={clubLogos.luxludi.src} link="/luxludi">
          <p>
            Le club Lux Ludi a pour but de trouver, produire et diffuser des
            jeux de société ainsi que des jeux vidéos inventés par les étudiants
            de Sorbonne Université.
          </p>
        </Club>
      </div>
    </div>
  </section>
</FrontPage>

<style>
  
  .title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .icons__clubs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    .icons__clubs {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
</style>
