---
import FrontPage from "@/layouts/FrontPage.astro";

import Club from "@/components/index/Club.astro";

import PLSociety from "@/assets/logos/pls.png";
import LuxLudi from "@/assets/logos/luxludi.png";
import LeDLC from "@/assets/logos/dlc.png";

import { Content as Association } from "@/content/accueil/association.md";
import { rawMDtoSortedArray, type MDnXInstance, type Slide } from "@/helpers";
import ColorLigne from "@/components/global/ColorLigne.astro";

const navBar = [
  { name: "association", link: "#association" },
  { name: "clubs", link: "#clubs" },
  { name: "programme", link: "#programme" },
];

const posts = await Astro.glob<{ title: string; image: string }>(
  "../content/accueil/programme/*.md"
);
// import all the carrousel images
const carrousel = await Astro.glob<MDnXInstance<Slide>>("./**/*{.md,.mdx}");

// importing the carrousel images for PSU
const psuCar = await Astro.glob<MDnXInstance<Slide>>("./*{.md,.mdx}");

const slides = rawMDtoSortedArray([...psuCar, ...carrousel]);
---

<FrontPage
  title="Play Sorbonne Université"
  prefetchs={[slides[0].src]}
  slides={slides}
  nav={navBar}
>
  <section class="association" id="association">
    <div class="content">
      <h1 class="title title__association">L'association</h1>
      <ColorLigne />
      <Association />
    </div>
  </section>

  <section class="clubs" id="clubs">
    <div class="content">
      <h1 class="title">Les Clubs</h1>
      <ColorLigne />

      <p>
        <strong
          >L'association Play Sorbonne Université (PSU) a pour projet d'étendre
          ses actions pour partager la passion du jeu au plus grand nombre au
          sein de l'université. Pour mieux nous organiser dans cette entreprise,
          nous avons choisi de diviser nos principaux objectifs en plusieurs
          équipes : Lux Ludi, le DLC, Loading Games et Play & Learn Society.</strong
        >
      </p>

      <div class="icons__clubs">
        <Club img={PLSociety.src} link="/pls">
          <p>
            Vulgariser, dévoiler, transmettre. Nous avons pour but de donner de
            la légitimité au domaine du jeu vidéo, en traitant avec rigueur les
            thèmes associés, dont la recherche axée sur ce domaine.
          </p>
        </Club>
        <Club img={LeDLC.src} link="/dlc">
          <p>
            Le club le DLC a pour objectif d'animer la vie du campus, de
            fidéliser les étudiants et de créer des liens avec d'autres
            associations.
          </p>
        </Club>
        <Club img={LuxLudi.src} link="/luxludi">
          <p>
            Le club Lux Ludi a pour but de trouver, produire et diffuser des
            jeux de société ainsi que des jeux vidéos inventés par les étudiants
            de Sorbonne Université.
          </p>
        </Club>
      </div>
    </div>
  </section>

  <section class="programme" id="programme">
    <div class="content">
      <h1 class="title">Le programme</h1>
      <ColorLigne />

      <div class="content__programme">
        {
          posts.map((post, i) => (
            <div class="element">
              <p class="title__element">{post.frontmatter.title}</p>
              <div class={`content__element ${i % 2 && "content_left"}`}>
                <img
                  loading="lazy"
                  src={post.frontmatter.image}
                  alt=""
                  class="img__element"
                />
                <div>
                  <post.Content />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</FrontPage>

<style>
  .content {
    width: 100%;
  }

  .text__titre {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
  }

  .title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .subtitle__titre {
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }

    .subtitle__titre {
      font-size: 1.3rem;
    }
  }

  .title__festival {
    color: rgb(var(--black-title));
  }

  strong {
    font-weight: 500;
  }

  p {
    padding-top: 20px;
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .clubs {
    background-color: rgb(var(--dark-color));
    color: white;
  }

  .title__clubs {
    color: white;
  }

  .icons__clubs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    .icons__clubs {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  .content__programme {
    padding-top: 20px;
  }

  .img__element {
    max-width: 40%;
    max-height: 200px;
    height: 100%;
    box-shadow: 8px 8px 2px 1px rgba(var(--main-color), 0.4);
    margin: 0 20px;
  }

  .content__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content_left {
    flex-direction: row-reverse;
  }

  @media (max-width: 768px) {
    .content__element {
      flex-direction: column;
      align-items: center;
    }

    .content_left {
      flex-direction: column;
    }
  }

  .title__element {
    font-weight: bold;
    text-decoration: underline;
  }

  .element {
    padding: 5px 0;
  }
</style>
