---
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
import Club from "../components/Club.astro";
import ImgCar from "../components/ImgCar.astro";

import ImgAcc from "../assets/imageaccueil.webp";

const imgs = [
  {
    src: ImgAcc,
    alt: "image accueil",
    text: "uwu",
  },
  {
    src: ImgAcc,
    alt: "image accueil",
    text: "uwu",
  },
  {
    src: ImgAcc,
    alt: "image accueil",
    text: "uwu",
  },
];

import Tetris from "../assets/tetris.svg";
import Trophy from "../assets/trophy.svg";
import Proj from "../assets/proj.svg";
import Pen_Ruler from "../assets/pen_ruler.svg";
import Mic from "../assets/mic.svg";
import Dices from "../assets/dices.svg";

import PLSociety from "../assets/plsociety.png";
import LuxLudi from "../assets/luxludi.png";
import LeDLC from "../assets/ledlc.png";

import { Content as Festival } from "../content/accueil/festival.md";
import { Content as Association } from "../content/accueil/association.md";

interface Frontmatter {
  title: string;
  image: string;
}
const posts = await Astro.glob<Frontmatter>(
  "../content/accueil/programme/*.md"
);
---

<Layout title="Play Sorbonne Université">
  <div class="color_ligne"></div>

  <section class="titre" id="accueil">
    {
      /*<div class="text__titre">
      <h1 class="title">Le festival du jeu</h1>
      <h3 class="subtitle__titre">le 16 septembre 2023, de 10h à 19h</h3>
  </div>*/
    }

    <ImgCar {imgs} client:load/>
  </section>

  <section class="festival" id="festival">
    <div class="content">
      <h1 class="title title__festival">Le festival</h1>
      <div class="color_ligne"></div>
      <Festival />

      <div class="icons">
        <Icon
          img={Tetris}
          title="Rétro-gaming"
          subtitle="pour les nostalgiques"
        />
        <Icon img={Pen_Ruler} title="Jeux indés" subtitle="pour les pionners" />
        <Icon img={Trophy} title="E-sport" subtitle="pour les try-hardeurs" />
        <Icon img={Mic} title="Conférences" subtitle="pour les intellectuels" />
        <Icon img={Dices} title="Jeux de plateau" subtitle="pour les IRL" />
        <Icon img={Proj} title="Expos" subtitle="pour les curieux" />
      </div>
    </div>
  </section>

  <section class="association" id="association">
    <div class="content">
      <h1 class="title title__association">L'association</h1>
      <div class="color_ligne"></div>
      <Association />
    </div>
  </section>

  <section class="clubs" id="clubs">
    <div class="content">
      <h1 class="title">Les Clubs</h1>
      <div class="color_ligne"></div>

      <p>
        <strong
          >L'association Play Sorbonne Université (PSU) a pour projet d'étendre
          ses actions pour partager la passion du jeu au plus grand nombre au
          sein de l'université. Pour mieux nous organiser dans cette entreprise,
          nous avons choisi de diviser nos principaux objectifs en plusieurs
          équipes : Lux Ludi, le DLC, Loading Games et Play & Learn Society.</strong
        >
      </p>

      <div class="icons__clubs">
        <Club img={PLSociety}>
          <p>
            Vulgariser, dévoiler, transmettre. Nous avons pour but de donner de
            la légitimité au domaine du jeu vidéo, en traitant avec rigueur les
            thèmes associés, dont la recherche axée sur ce domaine.
          </p>
        </Club>
        <Club img={LeDLC}>
          <p>
            Le club le DLC a pour objectif d'animer la vie du campus, de
            fidéliser les étudiants et de créer des liens avec d'autres
            associations.
          </p>
        </Club>
        <Club img={LuxLudi}>
          <p>
            Le club Lux Ludi a pour but de trouver, produire et diffuser des
            jeux de société inventés par les étudiants de Sorbonne Université.
          </p>
        </Club>
      </div>
    </div>
  </section>

  <section class="programme" id="programme">
    <div class="content">
      <h1 class="title">Le programme</h1>
      <div class="color_ligne"></div>

      <div class="content__programme">
        {
          posts.map((post, i) => (
            <div class="element">
              <p class="title__element">{post.frontmatter.title}</p>
              <div class={`content__element ${i % 2 && "content_left"}`}>
                <img src={post.frontmatter.image} alt="" class="img__element" />
                <div>
                  <post.Content />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  section {
    padding: 30px 45px;
    color: rgb(var(--black-text));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    max-width: 900px;
    width: 100%;
  }

  .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-size: cover;

    /*background-image: url(/src/assets/imageaccueil.webp);*/
    /* HACK */
  }

  .color_ligne {
    height: 5px;
    background: linear-gradient(0.25turn, #29c8ff, #ff7dc5);
  }

  .text__titre {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
  }

  .title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .subtitle__titre {
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }

    .subtitle__titre {
      font-size: 1.3rem;
    }
  }

  .title__festival {
    color: rgb(var(--black-title));
  }

  strong {
    font-weight: 500;
  }

  p {
    padding-top: 20px;
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .association {
    background-color: rgb(var(--black-text));
    color: white;
  }

  .title__association {
    color: white;
  }

  .icons__clubs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    .icons__clubs {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  .content__programme {
    padding-top: 20px;
  }

  .img__element {
    max-width: 40%;
    max-height: 200px;
    height: 100%;
    box-shadow: 8px 8px 2px 1px rgba(var(--pink), 0.4);
    margin: 0 20px;
  }

  .content__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content_left {
    flex-direction: row-reverse;
  }

  @media (max-width: 768px) {
    .content__element {
      flex-direction: column;
      align-items: center;
    }

    .content_left {
      flex-direction: column;
    }
  }

  .title__element {
    color: rgb(var(--black-text));
    font-weight: bold;
    text-decoration: underline;
  }

  .element {
    padding: 5px 0;
  }
</style>
