---
import DefaultPage from "./DefaultPage.astro";
import Carrousel from "@/components/index/Carrousel/Carrousel";
import { type ClubName, type EventT } from "@/helpers";
import ColorLigne from "@/components/global/ColorLigne.astro";
import Events from "@/components/index/Events.astro";
import Events2 from "@/components/index/Events2.astro";
import FloatingBar from "@/components/popups/FloatingBar.astro";

interface Props {
  logo?: ClubName; // le logo du club, est utilisé dans le header
  title: string; // titre de la page
  prefetchs?: string[]; // les liens à prefetch
  events?: EventT[]; // les événements à afficher dans le carrousel & la section "nos événements"
  noEvents?: boolean; // si true, n'affiche pas la section "nos événements"
  eventTitle?: string; // le titre de la section "nos événements"
  eventDescription?: string; // la description de la section "nos événements"
}

const {
  logo,
  title,
  prefetchs = [],
  events = [],
  noEvents = false,
  eventTitle = "Nos projets",
  eventDescription,
} = Astro.props;
---

<DefaultPage title={title} prefetchs={prefetchs} logo={logo}>
  <!--  <FloatingBar content="uwu" /> -->
  <main>
    <ColorLigne />
    <section class="titre">
      <Carrousel client:load slides={events} />
    </section>
    <ColorLigne />

    <slot />

    {
      !noEvents && events.length > 0 && (
        <section class="events">
          <Events2
            events={events}
            title={eventTitle}
            description={eventDescription}
          />
        </section>
      )
    }
  </main>
</DefaultPage>

<style>
  main {
    min-height: calc(100vh - 100px - 80px); /* 80px = header, 100px = footer */
  }
  main :global(section) {
    padding: 30px 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  :global(section) > :global(.content) {
    max-width: 900px;
    width: 100%;
  }
  .titre {
    display: block;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-size: cover;
  }
</style>
