---
import Insta from "@/assets/social/insta.svg";
import Discord from "@/assets/social/discord.svg";
import Twitter from "@/assets/social/twitter.svg";
import Twitch from "@/assets/social/twitch.svg";
import Youtube from "@/assets/social/youtube.svg";
---

<footer>
  <div class="container">
    <div class="icons">
      <a href="https://discord.gg/be5X7qMNSQ" target="_blank">
        <img src={Discord.src} alt="discord invite" loading="lazy"/>
      </a>
      <a href="https://www.instagram.com/play_sorbonne_u/" target="_blank">
        <img src={Insta.src} alt="Insta" loading="lazy" />
      </a>
      <a href="https://twitter.com/PlaySorbonneU" target="_blank">
        <img src={Twitter.src} alt="Twitter" loading="lazy" />
      </a>
      <a href="https://www.youtube.com/@PlaySorbonne" target="_blank">
        <img src={Youtube.src} alt="Youtube" loading="lazy" />
      </a>
      <a href="https://www.twitch.tv/play_sorbonne" target="_blank">
        <img src={Twitch.src} alt="Twitch" loading="lazy" />
      </a>
    </div>
    <a href="mailto:playsorbonnefestival@gmail.com">
      playsorbonnefestival@gmail.com
    </a>
  </div>
</footer>

<style>
  footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--black-text));
    color: white;
  }

  img {
    width: 40px;
    filter: invert(1);
    margin: 0 10px;
  }

  img:hover {
    filter: invert(49%) sepia(78%) saturate(493%) hue-rotate(281deg)
      brightness(97%) contrast(87%);
  }

  a {
    font-size: 1.2rem;
  }
  a:hover {
    color: rgb(var(--pink));
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
</style>
