---
import { getClubLogo } from "@/assets/logos";
import type { ClubName } from "@/helpers";
export type NavItem = {
  name: string;
  link: string;
};

const defaultNav = [
  { name: "acceuil", link: "#acceuil" },
  { name: "le festival", link: "#festival" },
  { name: "association", link: "#association" },
  { name: "clubs", link: "#clubs" },
  { name: "programme", link: "#programme" },
];

interface Props {
  logo?: ClubName;
  nav?: NavItem[];
}
const { logo = "psu", nav = defaultNav } = Astro.props;

const imgLogo = getClubLogo(logo);
const isClub = logo && logo !== "psu";
const psuLogo = getClubLogo("champsu");
---

<header>
  <div class="desktop">
    <div class="logo_wrapper">
      {
        isClub && (
          <a href="/" style="height:100%;">
            <img class="logo" src={psuLogo.src} alt="logo" />
          </a>
        )
      }
      <a href={`/${logo === "psu" ? "" : logo}`} style="height:100%;">
        <img class="logo" src={imgLogo.src} alt="logo" />
      </a>
    </div>
    <div class="links">
      {nav?.map(({ name, link }) => <a href={link}>{name}</a>)}
    </div>
  </div>

  <div class="mobile">
    {
      isClub && (
        <a href="/" style="height:100%;">
          <img class="logo_mobile" src={psuLogo.src} alt="logo" />
        </a>
      )
    }
    <a href={`/${logo === "psu" ? "" : logo}`} style="height:100%;">
      <img class="logo" src={imgLogo.src} alt="logo" />
    </a>
  </div>
</header>

<style>
  .mobile {
    display: none;
    height: 80px;
    background-color: rgb(var(--main-color));
    justify-content: center;
    align-items: center;
  }

  .logo_mobile {
    height: 100%;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  a {
    padding: 0 5px;
  }

  a:hover {
    color: rgb(var(--main-color));
    text-decoration: underline;
  }

  .links {
    padding: 5px 20px;
    font-size: 1.3rem;
  }
  .logo_wrapper {
    position: relative;
    top: 60px;
    height: 100px;
    background-color: rgb(var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 2px 1px rgba(var(--main-color), 0.4);
    z-index: 1000;
    padding: 0 20px;
  }

  .logo {
    height: 100%;
    padding: 10px;
  }

  @media (max-width: 900px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: flex;
    }
  }
  @keyframes onHover {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
  }

  img:hover {
    animation: onHover 0.5s linear forwards;
  }

</style>
